@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
	background-color: LightSteelBlue;
	font-family: 'Montserrat', sans-serif;
}

img#avatar{
	width: 225px;
	padding-right: 25px;
}

p#biodata{
	font-size: 18px;
}

nav{
	background-color: DarkSlateBlue;
	padding: 5px;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	color: white;
	padding: 16px;
	text-decoration: none;
}

nav a:hover{
	font-weight: bold;
	background-color: LightSlateGray;
}

nav li{
	list-style-type: none;
	display: inline;
}

table{
	width: 55%;
}

ul{
	padding-inline-start: 0px;
}

ul#keterampilan{
	padding-inline-start: 20px;
}

#foto{
	float: right;
}

#social{
	text-align: center;
}

#social img{
	width: 35px;
	padding: 10px;
}

.sekolah, .nama_pelatihan{
	text-align: center;
}

.table-header{
	text-align: left;
}

.tahun{
	width: 20%;
}